*{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.products {
    display: flex; 
    border-bottom: 2px #212529 solid;
  }
  
  .top {
    width: 100%;
    transition: height 0.3s ease;
    overflow: hidden;
  }
  
  .left {
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;  
  }
  
  .right {
    width: 75%;
    background-color: #ffffff;
    position: relative;
  }
  
  .catImg {
    width: 70vw;
    height: 250px;
    object-fit: contain;
    margin-bottom: 50px;
    border: 4px #212529;
    border: double;
    border-radius: 10px;
    transform: translateX(5vw);
  }
  
  .minimized {
    height: 0;
  }
  
  .toggleSidebar {
    position: absolute;
    top: -5px;
    width: 100%;
    height: 40px;
    background-color: #FED766;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: top 0.3s ease;
    z-index: 2;
    border-radius: 5px;
    border-bottom: #212529 2px solid; 
    border-top: #212529 2px solid; 
  }
  
  .toggleIcon {
    width: 20px;
    height: 20px;
  } 
  
  @media (max-width: 767px) {
    .products {
      flex-direction: column;
    }
  
    .right {
      width: 100%;
      margin-top: 60px;
    }
  
    .toggleSidebar {
      width: 100%;
    }
  
    .catImg {
      width: 90vw;
      height: 250px;
      object-fit: contain;
      margin-top: -25px;
      margin-bottom: 50px;
      border: 4px #212529;
      border: double;
      border-radius: 10px; 
    }
  }
  